<div class="form-wrapper">
    <h2 class="form-title">Creating company's selling list:</h2>
    <form id="form">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Company's name</span>
            <input type="text" class="form-control" placeholder="Fill company's name" aria-label="Название организации"
                aria-describedby="basic-addon1" name="name" required />
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">Country</span>
            <input type="text" class="form-control" aria-label="Company's country" aria-describedby="basic-addon2"
                name="location" placeholder="Fill company's country" required />
        </div>

        <div class="d-grid gap-2">
            <button class="btn btn-primary" type="submit">Create</button>
        </div>
    </form>
</div>

<h2 class="userList-title">Company's list:</h2>
<ul id="userList"></ul>