{{#each this}}
<li id="userList-item" class="userList-item">
    <div>
        <p class="userList-text">Name: <b class="userList-span">{{name}}</b></p>
        <p class="userList-text">Age: <b class="userList-span">{{age}}</b></p>
    </div>


    <button class="btn btn-primary delete-btn" type="button">Delete</button>

</li>
{{/each}}