{{#each this}}
<li id="userList-item" class="userList-item">
    <div class="userList-wrapper btn-primary btn">
        <a class="userList-link" href="#">
            <p class="userList-text" data-id="{{id}}">
                Name: {{name}}
                <br>
                Country: {{country}}
            </p>
        </a>
    </div>
    <button class="btn btn-primary delete-btn" type="button" data-id="{{id}}">Delete company</button>
</li>
{{/each}}